{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<div class="container">
<script type="text/javascript" src="{{ STATIC_URL }}js/sm.js"> </script>

            <h1>Add New Department</h1>

            <table class="table" id="test">
            <!-- PRINT COLUMN NAME -->
                <tr>
                    <th>Department Name</th>
                    <th></th>
                </tr>
                <!-- FILL ONE ROW for each COLUMNS  -->
                {% for item in query_results %}
                 <tr>
                    <td>{{  item.depName }}</td>
                    <td>
                        <button type="submit" onclick="getRecordDetails('department')" class="btn btn-default" aria-label="Left Align" style="color: red">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                 </tr>
                {% endfor %}

                <tr>
                <!-- PRINT FORM IN THE LAST ROW -->
                <form class="form-contact" action="" method="POST">
                {% csrf_token %}

                    {% for field in form %}
                    <td>

                    <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                    <div style= "color: red" >
                        {{ field.errors|striptags }}
                     </div>
                    </td>

                    {% endfor %}
                    <td><input type="submit" value="Submit"  class="btn btn-primary">
                    </td>

                    </form>

            </table>
</div>
<!--
            <form class="form-contact" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <fieldset class="form-group">

                    <div style= "color: red">
                    <label style= "color: black" for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field.errors|striptags }}
                     </div>
                    <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                    <p class="help-text">{{ field.help_text }} </p>
                    </fieldset>
            {% endfor %}
             <input type="submit" value="Submit"  class="btn btn-primary">
            </form>
        </div>
-->
</body>
</html>

{%  endblock %}