{% extends "base.html" %}

{% block content %}

    <div class="container">

        <h1>Add New Room</h1>

        <table class="table table-striped" id="test">
            <!-- PRINT COLUMN NAME -->
            <tr>
                <th>Room Code</th>
                <th>Room Name</th>
                <th>Building</th>
                <th>Location</th>
                <th>Delete</th>
            </tr>
            <!-- FILL ONE ROW - 3 COLUMNS  -->
            {% for item in query_results %}
                <tr>
                    <td >{{  item.roomCode }}</td>

                    <td>{{  item.roomName }}</td>

                    <td>{{  item.building }}</td>
                    <td> <button type="submit" onclick="editRoomLocation();" class="btn btn-default" data-toggle="modal" data-target="#largeModal">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button> </td>
                    <td>
                        <button type="submit" onclick="getRecordDetails('rooms','delete');" class="btn btn-default" aria-label="Left Align" style="color: red">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}



            <tr>
                <!-- PRINT FORM IN THE LAST ROW -->
                <form class="form-contact" action="" method="POST">
                    {% csrf_token %}

                    {% for field in form %}

                        <td>

                            {% ifequal field.name "building" %}

                                <select class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                                    <option value= {{ form.building }}

                                                    <div style= "color: red"> {{ field.errors|striptags }}</div>
                                <p class="help-text">{{ field.help_text }} </p>
                                </select>
                            {% else %}

                                <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                                <div style= "color: red" >{{ field.errors|striptags }} </div>

                            {% endifequal %}


                        </td>


                    {% endfor %}
    <td><input type="submit" value="Submit"  class="btn btn-primary">
    </td>
    <td></td>
    

    </form>

    </table>


    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true" >

        {% include "map.html" %}

    </div>

{%  endblock %}