{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">

            <h1>Rooms</h1>

            <form class="form-contact" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <fieldset class="form-group">



                {% ifequal field.name "building" %}
                   <div style= "color: red">

                    <label style= "color: black" for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field.errors|striptags }}
                     </div>
                    <select class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                    <option value= {{ form.building }}

                    </select>
                    <p class="help-text">{{ field.help_text }} </p>

                {% else %}
                    <div style= "color: red">

                    <label style= "color: black" for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field.errors|striptags }}
                     </div>
                    <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                    <p class="help-text">{{ field.help_text }} </p>
                {% endifequal %}

                 </fieldset>


            {% endfor %}
             <input type="submit" value="Submit"  class="btn btn-primary">
            </form>
        </div>
</body>
</html>

{%  endblock %}