{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
<h1>Add New Timetable</h1>

    <table class="table">
            <!-- PRINT COLUMN NAME -->
                <tr>
                    <th>Course Code</th>
                    <th>Semester</th>
                    <th>Year</th>
                    <th></th>
                </tr>
                <!-- FILL ONE ROW - 3 COLUMNS  -->
                {% for item in query_results %}
                 <tr>
                    <td >{{  item.courseCode }}</td>

                    <td>{{  item.semester }}</td>

                    <td>{{  item.year }}</td>
                    <td> <button type="submit" class="btn btn-default">Edit</button></td>
                 </tr>
                {% endfor %}



                <tr>
                <!-- PRINT FORM IN THE LAST ROW -->
                <form class="form-contact" action="" method="POST">
                {% csrf_token %}

                    {% for field in form %}

                    <td>

                        {% ifequal field.name "courseCode" %}

                            <select class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                                <option value= {{ form.courseCode }}

                            <div style= "color: red"> {{ field.errors|striptags }}</div>
                            <p class="help-text">{{ field.help_text }} </p>
                            </select>
                        {% else %}

                            <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                            <div style= "color: red" >{{ field.errors|striptags }} </div>

                        {% endifequal %}


                    </td>

                    {% endfor %}
                    <td><input type="submit" value="Submit"  class="btn btn-primary">
                    </td>

                    </form>

            </table>

</div>
</body>
</html>

{%  endblock %}