{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1>Add New Timetable</h1>


        <table class="table" id="test">
            <!-- PRINT COLUMN NAME -->
            <tr>
                <th>Course Code</th>
                <th>Year</th>
                <th>Semester</th>
                <th>Delete</th>

            </tr>
            <!-- FILL ONE ROW - 3 COLUMNS  -->
            {% for item in query_results %}
                <tr>
                    <td >{{  item.courseCode }}</td>
                    <td>{{  item.year }}</td>
                    <td>{{  item.semester }}</td>

                    <td>
                        <button type="submit" onclick="deleteTimetable();" class="btn btn-default" aria-label="Left Align" style="color: red">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}



            <tr>
                <!-- PRINT FORM IN THE LAST ROW -->
                <form class="form-contact" action="" method="POST">
                    {% csrf_token %}

                    {% for field in form %}

                        <td>

                            {% ifequal field.name "courseCode" %}

                                <select class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                                    <option value= {{ form.courseCode }}

                                                    <div style= "color: red"> {{ field.errors|striptags }}</div>
                                <p class="help-text">{{ field.help_text }} </p>
                                </select>
                            {% else %}

                                <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                                <div style= "color: red" >{{ field.errors|striptags }} </div>

                            {% endifequal %}


                        </td>

                    {% endfor %}
    <td><input name="delete" type="submit" value="Submit"  class="btn btn-primary">
    </td>

    </form>

    </table>

{%  endblock %}