{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">

            <table class="table">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Department</th>
                </tr>
                {% for item in query_results %}
                 <tr>
                    <td>{{  item.courseCode }}</td>

                    <td>{{  item.courseName }}</td>

                    <td>{{  item.department }}</td>
                 </tr>
                {% endfor %}
            </table>



        </div>

</body>
</html>

{%  endblock %}