{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CampusMap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/simple-sidebar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        NUI Galway CampusMap
                    </a>
                </li>
                <li>
                    <a href="../home">Dashboard</a>
                </li>
                <li>
                    <a href="#">Timetables</a>
                </li>
                <li>
                    <a href="#">Maps</a>
                </li>
                <li>
                    <a href="#">Rooms Details</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
				
				<ul href="#"> Database Stuff
					<li>
					<a href = "../course">Add Course</a>
					</li>
					<li>
					<a href = "#">Add Module</a>
					</li>
					<li>
					<a href = "#">Add Room</a>
					</li>
					<li>
					<a href = "#">Add Building</a>
					</li>
					<li>
					<a href = "#">Add Lecturer</a>
					</li>
				</ul>
				
				<ul href="#"> Timetable Example
					<li>
					<a href = "../timetable">Timetable</a>
					</li>
				</ul>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Dashboard</h1>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		
{% block content %}

{% endblock %}

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    
    
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#timetable").css('left', 'auto');
    });
    </script>

</body>

</html>

{% block footer %}
      <hr>
      <footer class="footer" align="center">
        <p>&copy; CampusMap 2015</p>
      </footer>
{% endblock %}

     </div> <!-- /container -->

  </body>
</html>