{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CampusMap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/simple-sidebar.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" >
                <li class="sidebar-brand">
                    <a style="color:white">
                        NUI Galway CampusMap
                    </a>
                </li>
                <li>
                    <a style="color:white" href="../home"><span class="glyphicon glyphicon-home" aria-hidden="false" ></span> Home</a>
                </li>
                <li>
                    <a style="color:white" href="../edit-timetable"><span class="glyphicon glyphicon-th-large" aria-hidden="false"></span> Edit a Timetable</a>
                </li>

                <hr>
                <ul style="color:white"> <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="false"></span> Database
                    <li>
                    <a href="../course">Add Course</a>
                    </li>
                    <li>
                    <a href="../module">Add Module</a>
                    </li>
                    <li>
                    <a href="../room">Add Room</a>
                    </li>
                    <li>
                    <a href="../building">Add Building</a>
                    </li>
                    <li>
                    <a href="../department">Add Department</a>
                    </li>
                    <li>
                    <a href="../lecturer">Add Lecturer</a>
                    </li>
                    <li>
                    <a href="../timetable">Add Timetable</a>
                    </li>
                </ul>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top:10px; margin-bottom:10px">
                        <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Toggle Menu</a>
                    </div>

                    {% block header %}

                    {% endblock header %}
                </div>

                {% block content %}

                {% endblock content%}

            </div>
        </div>
        <!-- /#page-content-wrapper -->



      <hr>
      <footer class="footer" align="center" style="text-align: center">
        <p>&copy; CampusMap 2015</p>
      </footer>
     </div> <!-- /wrapper -->
  </body>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</html>