{% extends "base.html" %}

{% block content %}


<div class="container"> <!-- Container -->
	  
  <div class="jumbotron">
      <h1>Test JSON API</h1>
        <p class="lead">This button gets a list of courses </p>
        <p><a class="btn btn-lg btn-success"  onclick="loadXMLDoc('departments&department=College of Medicine and Health&course=MED1&year=1&semester=null')" role="button">loadXMLDoc('courses')</a></p>
        <p class="lead">This button gets details for 2BCT </p>
        <p><a class="btn btn-lg btn-success"  onclick="loadXMLDoc('2BCT')" role="button">loadXMLDoc('2BCT')</a></p>
        <p id="test"></p>
  </div>

</div>

<script>

function loadXMLDoc(req) {

    xmlhttp=new XMLHttpRequest();

    console.log(req);

    xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            document.getElementById("test").innerHTML=xmlhttp.responseText;
        }
    };

    xmlhttp.open("GET","../json/?message=" + req ,true);
    xmlhttp.send();
}

</script>

{%  endblock %}