{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CampusMap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/simple-sidebar.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->

</head>

<body>

<div class="container"> <!-- Container -->

    <div class="jumbotron" style="padding:20px; margin-top:30px">
        <div class="row">
          <div class="col-xs-12" style="text-align: center">
            <h2>Welcome to the NUIG CampusMap</h2>
          </div>
        </div>
    </div>

    <div class="container"> <!-- Container -->

    <form class="col-xs-12" role="form" xmlns="http://www.w3.org/1999/html">
        <div class="form-group">
            <div class="col-md-3">
              <select class="form-control" id="departmentSelect" >
                <option value=''>Select Department</option>
              </select>
            </div>

            <div class="col-md-3" id = "courses">
              <select class="form-control" id="courseSelect">
                <option value='0'>Select Course</option>
              </select>
            </div>

            <div class="col-md-2">
              <select class="form-control" id="yearSelect">
                <option value='0'>Select Year</option>

              </select>
            </div>

            <div class="col-md-2">
              <select class="form-control" id="semesterSelect">
                <option value='0'>Select Semester</option>
                <option value="1" >1</option>
                <option value="2" >2</option>
              </select>
            </div>

            <div class="col-md-2">
                <btn class="btn btn-primary" onclick="submit()">Submit</btn>
            </div>

        </div>
      </form>
    </div>

</div>

<div id="timetable" class="container-fluid col-xs-12" style="margin-top:20px"></div>


<div id="mapModal" class="modal fade">

    <style type="text/css">

        #map-canvas{
            height: 100%;
            width: 100%;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 30px;
            padding: 0;
        }

        .full-height{
            height: 450px;
        }

        @media (min-height: 800px) {
            .full-height{
                height: 600px;
            }
        }

        @media (min-height: 900px) {
            .full-height{
                height: 700px;
            }
        }

        @media (min-height: 1000px) {
            .full-height{
                height: 850px;
            }
        }

    </style>

    <div class="container full-height">
        <div id="map-canvas"></div>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJJEeE5dn-hk6w1MoBSn2-Q3p4TfBcbMk"> </script>


</div>

<div id="saveButton"></div> <!-- suppresses error from map.js  -->

<script>

window.onload=function(){

    getDepartments();

    if (({{ check }})==true){
        loadTimetable('load','{{ course }}','{{ year }}','{{ sem }}')
        console.log(test)
    }

}


function loadPin(room){
    console.log(room);

    var param = '../edit-map-json/?message=' + 'coord' + '&room=' + room;

    var request = new XMLHttpRequest();
    request.open('GET', param, false);  // `false` makes the request synchronous
    request.send(null);

    coords = JSON.parse(request.responseText);

    marker.setPosition(new google.maps.LatLng(coords.lat, coords.lng));
    map.setCenter(new google.maps.LatLng(coords.lat, coords.lng));

    lat = coords.lat;
    lng = coords.lng;

    document.getElementById('saveButton').disabled = false;
}

var map = null;
var marker = null;
var room = null;
var lat = null;
var lng = null;

function initialize() {
    var mapOptions = {
        center: {lat: 53.278, lng: -9.061608463525772},
        zoom: 17
    };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        marker = new google.maps.Marker({
        position: {lat: 53.27665459354239, lng: -9.061608463525772},
        map: map,
        draggable: true
    });


    google.maps.event.addListener(marker, 'drag', function(event) {
        //console.debug('new position is '+event.latLng.lat()+' / '+event.latLng.lng());
    });

    google.maps.event.addListener(marker, 'dragend', function(event) {
        //console.debug('final position is '+event.latLng.lat()+' / '+event.latLng.lng());
        lat = event.latLng.lat();
        lng = event.latLng.lng();
    });

}



    var department, course, year, semester;

    //Builds up URL to be sent as json request
    function buildURL(message, dept, course, year, semester){
        var msg = '../json/?message=' + message + "&department=" + dept + "&course=" + course + "&year=" + year + "&semester=" + semester;

        return msg;
    }

    function getCourses(dept){

        department = dept;

        var request = new XMLHttpRequest();
        var message = buildURL("courses",dept,null,null,null);
        request.open('GET', message, false);  // `false` makes the request synchronous
        request.send(null);

        courses = JSON.parse(request.responseText);
        console.log(courses);

        sel = document.getElementById('courseSelect');

        //Clear dropdown each time a new department is chosen
        while(sel.firstChild){
            sel.removeChild(sel.firstChild);
        }

        //Set the first element in the dropdown
        var option = document.createElement("option");
        option.innerHTML = "Select a course";
        sel.appendChild(option);

        //Set every other element int the dropdown
        for(var i = 0; i<courses.courses.length; i++){
            var op = document.createElement("option");
            op.innerHTML = "" + courses.courses[i];
            //sel.setAttribute('onchange', 'OnSelectionChange(this)')
            op.setAttribute('onClick', 'getYears('+"'"+ departments.departments[i] +"'" + "," + "'"+ courses.courses[i] +"'"+')')
            sel.appendChild(op);
        }
    }

    //Loads years by course. Allows for courses of various lengths without errors
    //ie: arts is 3 years long vs engineering is 4. This would throw an error with static year values
    function getYears(dept, course){
        var message = buildURL("years", dept, course, null, null);
        var request = new XMLHttpRequest();
        request.open('GET', message, false);
        request.send(null);

        years = JSON.parse(request.responseText);

        sel = document.getElementById('yearSelect');

         while(sel.firstChild){
            sel.removeChild(sel.firstChild);
        }
        var option = document.createElement("option")
        option.innerHTML = "Select a year"
        sel.appendChild(option)

        for(var i=0; i<years.years.length; i++){
            var op = document.createElement("option");
            op.innerHTML = i+1;
            sel.appendChild(op);
        }
    }

    function getDepartments(){
        var request = new XMLHttpRequest();
        var message = buildURL("departments",null,null,null,null)
        request.open('GET', message, false);
        request.send(null);

        departments = JSON.parse(request.responseText);

        sel = document.getElementById('departmentSelect');

        for(var i=0; i<departments.departments.length; i++){
            var op = document.createElement("option");
            op.innerHTML = "" + departments.departments[i];
            op.setAttribute('onClick', 'getCourses('+"'"+departments.departments[i]+"'"+')');
            sel.appendChild(op);
        }
    }

    function OnSelectionChange (select) {
        var selectedOption = select.options[select.selectedIndex]
        loadTimetable(selectedOption.value)
    }

    //Onclick to load timetable when semester is chosen
    function submit(){
        sem = document.getElementById('semesterSelect');
        year = document.getElementById('yearSelect');
        course = document.getElementById('courseSelect');
        var val1 = course.options[course.selectedIndex].value;
        var val2 = year.options[year.selectedIndex].value;
        var val3 = sem.options[sem.selectedIndex].value;
        console.log('Course = ' + val1 + ' Year= ' + val2 + ' Semester = ' + val3);
        sem.setAttribute('onClick', loadTimetable(department,val1,val2,val3));

        year = val2;
        semester = val3;
    }

    function loadTimetable(department,course,year,semester){

        var request = new XMLHttpRequest();
        var message = buildURL("load",department,course,year,semester);
        request.open('GET', message, false);  // `false` makes the request synchronous
        request.send(null);

        timeTable = JSON.parse(request.responseText);

        retDiv = createTable(timeTable);

        el = document.getElementById("timetable");

        while (el.hasChildNodes()){
            el.removeChild(el.firstChild);
        }

        document.getElementById("timetable").appendChild(retDiv);

        var table = document.getElementsByTagName("table")[0];
        var cells = table.getElementsByTagName("td"); //

        var tt = course + ' year:' + year + ' sem:' + semester;
        console.log(tt);

        for(var i = 0; i < cells.length; i++){
        // Cell Object
        var cell = cells[i];
        // Track with onclick
            cell.onclick = function(){

                var room = this.getAttribute("room");

                $('#mapModal').modal('show');

                initialize();

                loadPin(room);

                window.setTimeout(function(){google.maps.event.trigger(map, 'resize')}, 1000)
            }
        }
    }

function createTable(response) {

    var div = document.createElement('div');
    var table = document.createElement('table');
    var title = document.createElement('p');

    title.innerHTML = "<b>" + response.title + "</b><br>" + " Year " + response.year + " Semester " + response.semester;

    div.className = 'container';
    div.appendChild(title);
    table.className = "table table-bordered table-striped table-condensed text-center";

    var trh = document.createElement('tr');
    var tbody = document.createElement('tbody');

    var rowHeader = [
            'Time/Day', 'Monday', 'Tuesday',
            'Wednesday', 'Thursday', 'Friday'
    ];

    var colHeader = [
            '09:00 AM', '10:00 AM', '11:00 AM', '12:00 AM',
            '1:00 PM', '2:00 PM', '3:00 PM', '4:00 PM',
            '5:00 PM', '6:00 PM', '7:00 PM'
    ];

    for (var i = 0; i < 6; i++) {
        trh.appendChild(document.createElement('th'));
        trh.lastChild.innerHTML = (rowHeader[i]);
    }

    tbody.appendChild(trh);
    table.appendChild(tbody);

    // for every hour
    for (var i = 1; i <= 11; i++) {

        // create a row
        var row = document.createElement("tr");

        // start with a time
        row.appendChild(document.createElement("th"));
        row.lastChild.innerHTML = colHeader[i - 1];

        // for every row, create 5 days
        for (var j = 1; j <= 5; j++) {

            var cell = document.createElement("td");

            // loop over all elements in time table, looking for a match
            for (var k = 0; k < response.timetable.length; k++) {

                // place in cell
                if ((response.timetable[k].day == j) && (response.timetable[k].time == i)) {

                    var cellText = (
                        response.timetable[k].mod + "<br>" +
                        response.timetable[k].room + "<br>" +
                        response.timetable[k].lec + "<br>"
                    );

                    cell.setAttribute("room", response.timetable[k].room);

                    cell.style.backgroundColor = '#' + response.timetable[k].colour;
                    cell.innerHTML = cellText;

                    break; // important

                    // otherwise, something default
                } else {
                    cell.innerHTML = "<br> <br> <br>";
                }

            }
            cell.setAttribute("time", i);
            cell.setAttribute("day", j);

            row.appendChild(cell);
        }
        tbody.appendChild(row);
    }

    div.appendChild(table);
    return div;
}

</script>