{% extends "base.html" %}

{% block content %}


<div class="container"> <!-- Container -->
	  
    <div class="jumbotron">
        <div class="row">
          <div class="col-xs-12" style="text-align: center">
            <h2>Welcome to the NUIG CampusMap</h2>
          </div>
        </div>
    </div>

    <div class="container"> <!-- Container -->

        <form class="col-lg-12" style="text-align: center" role="form" xmlns="http://www.w3.org/1999/html">
            <div class="form-group">

            <div class="col-lg-3 col-xs-6" style="margin-top:10px; margin-bottom:10px">
              <select class="form-control" id="buildingSelect" >
                <option value=''>Select a Course</option>
              </select>
            </div>

            <div class="col-lg-3 col-xs-6" style="margin-top:10px; margin-bottom:10px" id="courses">
              <select disabled class="form-control" id="roomSelect">
                <option value='0'>Select a Year</option>
              </select>
            </div>

            <div class="col-lg-3 col-xs-6" style="margin-top:10px; margin-bottom:10px" id="courses">
              <select disabled class="form-control" id="roomSelect">
                <option value='0'>Select a Semester</option>
              </select>
            </div>

            <div class="col-lg-3 col-xs-6" style="margin-top:10px; margin-bottom:10px" id="courses">
              <button disabled type="button" id="saveButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                View Timetable
               </button>
            </div>

            </div>
        </form>

    </div>


</div>

<script>

function loadXMLDoc(req) {

    xmlhttp=new XMLHttpRequest();

    console.log(req);

    xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            document.getElementById("test").innerHTML=xmlhttp.responseText;
        }
    };

    xmlhttp.open("GET","../json/?message=" + req ,true);
    xmlhttp.send();
}

</script>

{%  endblock %}