

{%block content%}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJJEeE5dn-hk6w1MoBSn2-Q3p4TfBcbMk"> </script>

<style type="text/css">

    #map-canvas {
        height: 100%;
        width: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        padding: 0;
    }

    .full-height{
        height: 450px;
    }

    @media (min-height: 800px) {
        .full-height{
            height: 600px;
        }
    }

    @media (min-height: 900px) {
        .full-height{
            height: 700px;
        }
    }

    @media (min-height: 1000px) {
        .full-height{
            height: 850px;
        }
    }

</style>

    <div class="container full-height">
        <div id="map-canvas"></div>
    </div>






{%endblock%}