

{% block header %}

    <form class="col-lg-9" role="form" xmlns="http://www.w3.org/1999/html">
        <div class="form-group">

            <div class="col-lg-3 col-xs-6" style="margin-top:10px; margin-bottom:10px">
              <select class="form-control" id="buildingSelect" >
                <option value=''>Select Building</option>
              </select>
            </div>

            <div class="col-lg-3 col-xs-6" style="margin-top:10px; margin-bottom:10px" id="courses">
              <select disabled class="form-control" id="roomSelect">
                <option value='0'>Select Room</option>
              </select>
            </div>

            <div class="col-lg-3 col-xs-6" style="margin-top:10px; margin-bottom:10px" id="courses">
              <button disabled type="button" id="saveButton" data-loading-text="Saving..." class="btn btn-primary" autocomplete="off">
                Save Pin
               </button>
            </div>

        </div>
      </form>

{% endblock header %}

{%block content%}

<style type="text/css">

    #map-canvas {
        height: 100%;
        width: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        padding: 0;
    }

    .full-height{
        height: 450px;
    }

    @media (min-height: 800px) {
        .full-height{
            height: 600px;
        }
    }

    @media (min-height: 900px) {
        .full-height{
            height: 700px;
        }
    }

    @media (min-height: 1000px) {
        .full-height{
            height: 850px;
        }
    }

</style>

    <div class="container full-height">
        <div id="map-canvas"></div>
    </div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJJEeE5dn-hk6w1MoBSn2-Q3p4TfBcbMk"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"> </script>


{%endblock%}