{% extends "base.html" %}


{% block content %}


<div class="container"> <!-- Container -->
	  
      <div class="jumbotron">
          <p>
                {{ foo }}
        </p>
        <p class="lead"></p>
      </div>

<table data-toggle="table" data-source="{{ foo }}" data-cache="false" data-height="299">
    <thead>
        <tr>
            <th data-field="id">Item ID</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
        </tr>
    </thead>
</table>
</div> <!-- End Container -->

{%  endblock %}