{% extends "base.html" %}

{%block content%}

<script src="{{ STATIC_URL }}js/table3.js"></script>



<div class="container">

    <ul class="nav nav-pills">

        <li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select a Course <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu" id="courseDrop"></ul>

    </ul>


</div>

<div id="timetable" class="container" style="margin:20px"></div>


<div id="cellModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add a class to the timetable</h4>
            </div>
            <div class="modal-body" id="cellModalBody">



            <form id="cellModalForm" action='' method='post' class="form-group">{% csrf_token %}

                <div style="visibility: hidden">
                    {{ form.courseCode }}
                    {{ form.year }}
                    {{ form.semester }}
                    {{ form.day }}
                    {{ form.time }}
                </div>

                
              <div class="form-group">
                <label for="courseCode">Year</label>
                  {{ form.year }}
              </div>
              <div class="form-group">
                <label for="courseCode">Semester</label>
                  {{ form.semester }}
              </div>
              <div class="form-group">
                <label for="courseCode">Module Code</label>
                  {{ form.modCode }}
              </div>
                <div class="form-group">
                <label for="courseCode">Room Code</label>
                    {{ form.roomCode }}
              </div>
                <div class="form-group">
                <label for="courseCode">Lecturer Code</label>
                    {{ form.lecCode }}
              </div>



              <div class="checkbox">
                <label>
                  <input type="checkbox"> Lab
                </label>
              </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>






            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


    <script>

    window.onload=function(){

        getCourses();

        if ({{ check }}){

            loadTimetable({{ course }});

        }
    }




    function getCourses(){

        var request = new XMLHttpRequest();
        request.open('GET', '../json/?message=courses', false);  // `false` makes the request synchronous
        request.send(null);

        courses = JSON.parse(request.responseText);

        ul = document.getElementById('courseDrop');

        for(var i = 0; i<courses.courses.length; i++){
            var li = document.createElement("li");
            li.setAttribute('role', 'presentation');
            var a = document.createElement("a");
            a.innerHTML = "" + courses.courses[i];
            a.setAttribute('role', 'menuitem');
            a.setAttribute('tabindex', '-1');
            a.setAttribute('onclick', 'loadTimetable("' + courses.courses[i] + '")');
            li.appendChild(a);
            ul.appendChild(li);
        }

    }

    function loadTimetable(course){

        var request = new XMLHttpRequest();
        request.open('GET', '../json/?message=' + course, false);  // `false` makes the request synchronous
        request.send(null);

        timeTable = JSON.parse(request.responseText);

        retDiv = createTable(timeTable);

        el = document.getElementById("timetable");

        while (el.hasChildNodes()){
            el.removeChild(el.firstChild);
        }
        document.getElementById("timetable").appendChild(retDiv);


        /////////////////////////////////////////////////////////
        // GET THE CELL INDEX


        var table = document.getElementsByTagName("table")[0];
        var cells = table.getElementsByTagName("td"); //

        for(var i = 0; i < cells.length; i++){
        // Cell Object
        var cell = cells[i];
        // Track with onclick
            cell.onclick = function(){

                document.getElementById('id_courseCode').value = course;

                document.getElementById('id_day').value = this.getAttribute("day");

                document.getElementById('id_time').value = this.getAttribute("time");

                document.getElementById('id_year').value = '1';

                document.getElementById('id_semester').value = '2';

                $('#cellModal').modal('show');

            }
        }
    }

    </script>


	
{%endblock%}