{% extends "base.html" %}

{%block content%}

<script src="{{ STATIC_URL }}js/table3.js"></script>



<div class="container">

    <ul class="nav nav-pills">

        <li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select a Course <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu" id="courseDrop"></ul>

    </ul>


</div>

<div id="timetable" class="container" style="margin:20px"></div>


    <script>

    window.onload=getCourses();

    function getCourses(){

        var request = new XMLHttpRequest();
        request.open('GET', '../json/?message=courses', false);  // `false` makes the request synchronous
        request.send(null);

        courses = JSON.parse(request.responseText);

        ul = document.getElementById('courseDrop');

        for(var i = 0; i<courses.courses.length; i++){
            var li = document.createElement("li");
            li.setAttribute('role', 'presentation')
            var a = document.createElement("a")
            a.innerHTML = "" + courses.courses[i]
            a.setAttribute('role', 'menuitem')
            a.setAttribute('tabindex', '-1')
            a.setAttribute('onclick', 'loadTimetable("' + courses.courses[i] + '")')
            li.appendChild(a)
            ul.appendChild(li);
        }

    }

    function loadTimetable(course){

        var request = new XMLHttpRequest();
        request.open('GET', '../json/?message=' + course, false);  // `false` makes the request synchronous
        request.send(null);

        timeTable = JSON.parse(request.responseText);

        retDiv = createTable(timeTable);

        el = document.getElementById("timetable");

        while (el.hasChildNodes()){
            el.removeChild(el.firstChild);
        }
        document.getElementById("timetable").appendChild(retDiv);


        /////////////////////////////////////////////////////////
        // GET THE CELL INDEX
        var table = document.getElementsByTagName("table")[0];
        var cells = table.getElementsByTagName("td"); //

        for(var i = 0; i < cells.length; i++){
        // Cell Object
        var cell = cells[i];
        // Track with onclick
            cell.onclick = function(){
                var cellIndex  = this.cellIndex ;

                var rowIndex = this.parentNode.rowIndex ;

                alert("Column: " + cellIndex + " / Row: " + rowIndex );
            }
        }
    }



    </script>

			
<script>



/*
$('#myModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var cell = button.data('whatever') // Extract info from data-* attributes
	  window.alert(cell);
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('New class for cell: ' + recipient)
  })
*/
</script>
	
{%endblock%}