{% extends "base.html" %}

{%block content%}

<script src="{{ STATIC_URL }}js/table3.js"></script>
<script src="{{ STATIC_URL }}js/Response.js"></script>
   
<script>
  createTable("")
</script>

			
<script>
$('#myModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var cell = button.data('whatever') // Extract info from data-* attributes
	  window.alert(cell);
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('New class for cell: ' + recipient)
  })
</script>
	
{%endblock%}